$primary-color: #333;
$secondary-color: #FF9802;
$secondary-color-hover: #ffbc00;
$light-color: #f4f4f4;
$white: #FFFFFF;

$on-time: #033F73;
$bg-image: url('../img/header-img.png');

$website-width: 1280px;