$primary-color: #333;
$secondary-color: #FF9802;
$secondary-color-hover: #ffbc00;
$light-color: #f4f4f4;
$white: #FFFFFF;

$on-time: #033F73;

$portland-accent: #AC2020;
$portland-primary: #3D3D3D;

$evelina: #CEEAF0;
$cook-it: #A1BA79;

$grey: #E5E5E5;
$bg-image: url('../img/header-img.png');

$website-width: 1280px;

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@100&display=swap');